[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.7"
